<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.health.test.corona">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".screen.resource.ResourceActivity"></activity>
        <activity android:name=".screen.course.CourseActivity" />
        <activity android:name=".screen.profile.ProfileActivity" />
        <activity android:name=".screen.result.ResultActivity" />
        <activity android:name=".screen.sendquestion.SendQuestionActivity" />
        <activity android:name=".screen.info.InfoActivity" />
        <activity android:name=".screen.history.HistoryActivity" />
        <activity android:name=".screen.test.TestActivity" />
        <activity android:name=".screen.login.LoginActivity" />
        <activity android:name=".screen.main.MainActivity" />
        <activity android:name=".screen.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".push.PushService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher_foreground" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="paiesh" />
    </application>

</manifest>